
body
    font-family : 'Open Sans', sans-serif
    background-color : rgb(55,69,80)
    color : white
    
form
    width : 40%
    margin-left : auto
    margin-right : auto
    
    .inputTestClass
        background-color : rgb(105, 115, 124)
        width : 95%
        margin-left : 0
    .formSubsection
        margin-bottom : 5%
.formHeader
    font-size : 200%
    font-weight : bold
    